---

import IconArrow from "../components/IconArrow.astro";

import { dateFormatter } from "../scripts/helpers.js"
import { getCatIconAndLabel } from "../scripts/helpers.js"

import "../styles/cards.css"

const { posts } = Astro.props;
const { numToShow } = Astro.props;
const { postType } = Astro.props;

---

<ul class="card-group">
    {posts.map((post, index) => {
        if (index < numToShow){

            // Get the category icon and singular label
            let icon = getCatIconAndLabel(post.frontmatter.category).icon;
            let label = getCatIconAndLabel(post.frontmatter.category).label;

            if (postType === 'article'){
                return  <li class="card">
                            <div class="info-group">
                                <h3>{post.frontmatter.title}</h3>
                                <p class="category"><Fragment set:html={icon} />{label}</p>
                                <p class="description">{post.frontmatter.description}</p>
                                <div class="meta">
                                    <p class="date">Published {dateFormatter.format(Date.parse(post.frontmatter.date))}</p>
                                </div>
                            </div>
                            <a href={post.url}>Open Article <IconArrow/></a>    
                        </li>
        
            } else if (postType === 'project'){
                return  <li class="card">
                            <div class="info-group">
                                <h3>{post.frontmatter.title}</h3>
                                <p class="category"><Fragment set:html={icon} />{label}</p>
                                <p class="description">{post.frontmatter.description}</p>
                                <div class="meta">
                                    <p class="num-articles">{post.frontmatter.numArticles} Articles</p>
                                    <p class="date" hidden={post.frontmatter.recentEditDate ? null : ''}>Updated {dateFormatter.format(post.frontmatter.recentEditDate)}</p>
                                </div>
                            </div>
                            <a href={post.url}>Open Project <IconArrow/></a>    
                        </li>
            }
        
        }
        
    })}
</ul>