---
import { getCatIconAndLabel } from "../scripts/helpers.js"
import { dateFormatter } from "../scripts/helpers.js"

const { activeProject } = Astro.props;

// Get project posts
const posts = await Astro.glob('../pages/*/*/*.md');
let filteredPosts;

// Determine post filtering
if (activeProject){
    filteredPosts = posts.filter(post => {
        return post.frontmatter.project === activeProject;
    })
} else {
    filteredPosts = posts;
}

---

<div id="search-articles" class="search-group accordion" 
data-list-selector="#search-articles .search-results"
data-sort='{ "list": { "id": "byPriority" } }'>
    <form class="search-form">
        <input class="search-input" class="text-field" type="search" minlength="3" placeholder={activeProject ? `Search articles in ${activeProject}` : 'Search articles'} autocomplete="off" data-type="title"/>
        <!-- <button id="search-clear" type="button" aria-label="Clear Search">
            <svg viewbox="0 0 32 32">
                <line y1="16" x1="0" y2="16" x2="32"/>
                <line y1="16" x1="0" y2="16" x2="32"/>
            </svg>
        </button> -->
        <button class="search-submit" class="submit" type="button" >
            <svg class="search-submit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <circle cx="9.5" cy="9.5" r="7.5"/>
                <line x1="14.8" y1="14.8" x2="22" y2="22"/>
            </svg>
        </button>
    </form>
    <ul class="search-results" hidden>
        {filteredPosts.map((post) => {
            return (
                <li class="result" 
                data-item
                data-title={post.frontmatter.title} hidden>
                    <a href={post.url}>
                        <span class="icon-group" set:html={getCatIconAndLabel(post.frontmatter.category).icon}></span>
                        <span class="title">{post.frontmatter.title}</span>
                        <span class="date">{dateFormatter.format(Date.parse(post.frontmatter.date))}</span>
                    </a>
                </li>
            )
        })}
        <li class="error" hidden>
            <p>No matches were found.</p>
        </li>
    </ul>
</div>