---
import IconBookmarks from "./IconBookmarks.astro";
import IconArrow from "./IconArrow.astro";
import IconPeople from "./IconPeople.astro";
import IconGroups from "./IconGroups.astro";
import IconPlaces from "./IconPlaces.astro";
import IconEvents from "./IconEvents.astro";
import IconThings from "./IconThings.astro";

import TreeSection from "./TreeSection.astro";

import '../styles/sidepanel.css';

const { activeProject } = Astro.props;
const { activePost } = Astro.props;

// Collect posts and filter by category
const posts = await Astro.glob('../pages/*/*/*.md');
const peoplePosts = posts.filter(post => {
    return post.frontmatter.project === activeProject && post.frontmatter.category === 'People';
})
const groupsPosts = posts.filter(post => {
    return post.frontmatter.project === activeProject && post.frontmatter.category === 'Groups';
})
const placesPosts = posts.filter(post => {
    return post.frontmatter.project === activeProject && post.frontmatter.category === 'Places';
})
const eventsPosts = posts.filter(post => {
    return post.frontmatter.project === activeProject && post.frontmatter.category === 'Events';
})
const thingsPosts = posts.filter(post => {
    return post.frontmatter.project === activeProject && post.frontmatter.category === 'Things';
})

---

<nav class="sidepanel">
    
    <div class="bookmarks accordion">
        <div class="accordion-toggle-group">
            <p class="icon-group"><IconBookmarks /><span>Bookmarks</span></p>
            <button class="accordion-toggle" id="bookmarks-toggle1" type="button" aria-expanded="false" aria-controls="bookmarks-panel1" hidden>
                <span>show</span>
                <IconArrow />
            </button>
        </div>
        <ul class="bookmarks-panel accordion-panel" id="bookmarks-panel1" role="region" aria-labelledby="bookmarks-toggle1" hidden></ul>
    </div>
    
    <hr />
    
    <ul class="tree accordion">
        <TreeSection order={1} category={'People'} CategoryIcon={IconPeople} posts={peoplePosts} activePost={activePost} />
        <hr />
        <TreeSection order={2} category={'Groups'} CategoryIcon={IconGroups} posts={groupsPosts} activePost={activePost} />
        <hr />
        <TreeSection order={3} category={'Places'} CategoryIcon={IconPlaces} posts={placesPosts} activePost={activePost} />
        <hr />
        <TreeSection order={4} category={'Events'} CategoryIcon={IconEvents} posts={eventsPosts} activePost={activePost} />
        <hr />
        <TreeSection order={5} category={'Things'} CategoryIcon={IconThings} posts={thingsPosts} activePost={activePost} />
    </ul>
</nav>

<script src="/scripts/accordion.js" is:inline></script>