---
import IconProjects from "./IconProjects.astro";
import IconChange from "./IconChange.astro";
import IconBookmarks from "./IconBookmarks.astro";
import IconArrow from "./IconArrow.astro";
import IconPeople from "./IconPeople.astro";
import IconGroups from "./IconGroups.astro";
import IconPlaces from "./IconPlaces.astro";
import IconEvents from "./IconEvents.astro";
import IconThings from "./IconThings.astro";

import TreeSection from "./TreeSection.astro";

import { toTitleCase } from '../scripts/helpers.js';

import '../styles/sidepanel.css';

const { pagePath } = Astro.props;

// Determine active project
const activeProject = pagePath.split('/')[1];
const activePost = pagePath;

// Collect posts and filter by category
const posts = await Astro.glob('../pages/*/*/*.md');
const peoplePosts = posts.filter(post => {
    return post.url.includes(`${activeProject}/people`);
})
const groupsPosts = posts.filter(post => {
    return post.url.includes(`${activeProject}/groups`);
})
const placesPosts = posts.filter(post => {
    return post.url.includes(`${activeProject}/places`);
})
const eventsPosts = posts.filter(post => {
    return post.url.includes(`${activeProject}/events`);
})
const thingsPosts = posts.filter(post => {
    return post.url.includes(`${activeProject}/things`);
})

// Generate list of projects
const projectPages = await Astro.glob('../pages/*/*.astro');
const projects = [];
for (const page of projectPages){
    let project = {
        url: page.url,
        title: page.url.split('/')[1]
    }
    if (project.title !== activeProject){
        projects.push(project);
    }
}


---

<nav class="sidepanel">
    <div class="projects accordion">
        <div class="accordion-toggle-group">
            <p class="icon-group"><IconProjects /><span>{toTitleCase(activeProject)}</span></p>
            <button class="accordion-toggle" id="projects-toggle1" type="button" aria-expanded="false" aria-controls="projects-panel1">
                <span>change</span>
                <IconChange />
            </button>
        </div>
        <ul class="projects-panel accordion-panel" id="projects-panel1" role="region" aria-labelledby="projects-toggle1" hidden>
            {projects.map((project) =>
                <li><a href={project.url}>{toTitleCase(project.title)}</a></li>
            )}
        </ul>
    </div>
    
    <div class="bookmarks accordion">
        <div class="accordion-toggle-group">
            <p class="icon-group"><IconBookmarks /><span>Bookmarks</span></p>
            <button class="accordion-toggle" id="bookmarks-toggle1" type="button" aria-expanded="true" aria-controls="bookmarks-panel1">
                <span>show</span>
                <IconArrow />
            </button>
        </div>
        <ul class="bookmarks-panel accordion-panel" id="bookmarks-panel1" role="region" aria-labelledby="bookmarks-toggle1"></ul>
    </div>
    
    <hr />
    
    <ul class="tree accordion">
        <TreeSection order={1} category={'people'} CategoryIcon={IconPeople} posts={peoplePosts} activePost={activePost} />
        <hr />
        <TreeSection order={2} category={'groups'} CategoryIcon={IconGroups} posts={groupsPosts} activePost={activePost} />
        <hr />
        <TreeSection order={3} category={'places'} CategoryIcon={IconPlaces} posts={placesPosts} activePost={activePost} />
        <hr />
        <TreeSection order={4} category={'events'} CategoryIcon={IconEvents} posts={eventsPosts} activePost={activePost} />
        <hr />
        <TreeSection order={5} category={'things'} CategoryIcon={IconThings} posts={thingsPosts} activePost={activePost} />
    </ul>
</nav>

<script src="../scripts/global.js"></script>