---
import IconProject from "./icon_project.astro";
import IconChange from "./icon_change.astro";
import IconPin from "./icon_pin.astro";
import IconBookmark from "./icon_bookmark.astro";
import IconShow from "./icon_show.astro";
import IconPerson from "./icon_person.astro";
import IconGroup from "./icon_group.astro";
import IconPlace from "./icon_place.astro";
import IconEvent from "./icon_event.astro";
import IconThing from "./icon_thing.astro";

import { toTitleCase } from '../scripts/helpers.js';

import '../styles/sidepanel.css';

const {frontmatter} = Astro.props;

// Determine active project
const activeProject = frontmatter.url.split('/')[1];
const activePost = frontmatter.url;
console.log(activePost);

// Collect posts and filter by category
const posts = await Astro.glob('../pages/*/*/*.md');
const peoplePosts = posts.filter(post => {
    return post.url.includes(`${activeProject}/people`);
})
const groupsPosts = posts.filter(post => {
    return post.url.includes(`${activeProject}/groups`);
})
const placesPosts = posts.filter(post => {
    return post.url.includes(`${activeProject}/places`);
})
const eventsPosts = posts.filter(post => {
    return post.url.includes(`${activeProject}/events`);
})
const thingsPosts = posts.filter(post => {
    return post.url.includes(`${activeProject}/things`);
})

// Generate list of projects
const projectPages = await Astro.glob('../pages/*/*.astro');
const projects = [];
for (const page of projectPages){
    let project = {
        url: page.url,
        title: page.url.split('/')[1]
    }
    if (project.title !== activeProject){
        projects.push(project);
    }
}



---
<nav class="sidepanel">
    <div class="projects accordion">
        <div class="accordion-toggle-group">
            <p class="icon-group"><IconProject /><span>{toTitleCase(activeProject)}</span></p>
            <button class="accordion-toggle" id="projects-toggle1" type="button" aria-expanded="false" aria-controls="projects-panel1">
                <span>change</span>
                <IconChange/>
            </button>
        </div>
        <ul class="projects-panel accordion-panel" id="projects-panel1" role="region" aria-labelledby="projects-toggle1" hidden>
            {projects.map((project) =>
                <li><a href={project.url}>{toTitleCase(project.title)}</a></li>
            )}
        </ul>
    </div>
    
    <div class="pins accordion">
        <div class="accordion-toggle-group">
            <p class="icon-group"><IconBookmark /><span>Bookmarks</span></p>
            <button class="accordion-toggle" id="pins-toggle1" type="button" aria-expanded="false" aria-controls="pins-panel1">
                <span>show</span>
                <IconShow />
            </button>
        </div>
        <ul class="pins-panel accordion-panel" id="pins-panel1" role="region" aria-labelledby="pins-toggle1" hidden></ul>
    </div>
    
    <hr />
    
    <ul class="tree accordion" data-allow-multiple>
        <li>
            <div class="accordion-toggle-group">
                <a class="icon-group" href="../pages/people">
                    <IconPerson />
                    <span>People</span>
                </a>
                <button class="accordion-toggle" id="tree-toggle1" type="button" aria-expanded="true" aria-controls="tree-panel1">
                    <span>show</span>
                    <IconShow />
                </button>
            </div>
            <ul class="tree-panel accordion-panel" id="tree-panel1" role="region" aria-labelledby="tree-toggle1">
                {peoplePosts.map((post) => 

                    <li class={post.url === activePost.url ? post.url : activePost.url}>
                        <a href={post.url}>{post.frontmatter.title}</a>
                        <button class="pin-toggle"><IconBookmark /></button>
                    </li>
                )}
            </ul>
        </li>
        <hr/>
        <li>
            <div class="accordion-toggle-group">
                <a class="icon-group" href="../pages/groups">
                    <IconGroup />
                    <span>Groups</span>
                </a>
                <button class="accordion-toggle" id="tree-toggle2" type="button" aria-expanded="false" aria-controls="tree-panel2">
                    <span>show</span>
                    <IconShow />
                </button>
            </div>
            <ul class="tree-panel accordion-panel" id="tree-panel2" role="region" aria-labelledby="tree-toggle2" hidden>
                {groupsPosts.map((post) => 
                    <li><a href={post.url}>{post.frontmatter.title}</a></li>
                )}
            </ul>
        </li>
        <hr/>
        <li>
            <div class="accordion-toggle-group">
                <a class="icon-group" href="../pages/groups">
                    <IconPlace />
                    <span>Places</span>
                </a>
                <button class="accordion-toggle" id="tree-toggle3" type="button" aria-expanded="false" aria-controls="tree-panel3">
                    <span>show</span>
                    <IconShow />
                </button>
            </div>
            <ul class="tree-panel accordion-panel" id="tree-panel3" role="region" aria-labelledby="tree-toggle3" hidden>
                {placesPosts.map((post) => 
                    <li><a href={post.url}>{post.frontmatter.title}</a></li>
                )}
            </ul>
        </li>
        <hr/> 
        <li>
            <div class="accordion-toggle-group">
                <a class="icon-group" href="../pages/groups">
                    <IconEvent />
                    <span>Events</span>
                </a>
                <button class="accordion-toggle" id="tree-toggle4" type="button" aria-expanded="false" aria-controls="tree-panel4">
                    <span>show</span>
                    <IconShow />
                </button>
            </div>
            <ul class="tree-panel accordion-panel" id="tree-panel4" role="region" aria-labelledby="tree-toggle4" hidden>
                {eventsPosts.map((post) => 
                    <li><a href={post.url}>{post.frontmatter.title}</a></li>
                )}
            </ul>
        </li>
        <hr/> 
        <li>
            <div class="accordion-toggle-group">
                <a class="icon-group" href="../pages/groups">
                    <IconThing />
                    <span>Things</span>
                </a>
                <button class="accordion-toggle" id="tree-toggle5" type="button" aria-expanded="false" aria-controls="tree-panel5">
                    <span>show</span>
                    <IconShow />
                </button>
            </div>
            <ul class="tree-panel accordion-panel" id="tree-panel5" role="region" aria-labelledby="tree-toggle5" hidden>
                {thingsPosts.map((post) => 
                    <li><a href={post.url}>{post.frontmatter.title}</a></li>
                )}
            </ul>
        </li>   
    </ul>
</nav>

<script src="../scripts/global.js"></script>