---

import "../styles/timeline.css"

let { events } = Astro.props;
const { activeProject } = Astro.props;

// Get the year notation of the active project
const projects =  await Astro.glob('../pages/*.md');
const yearNotation = projects.filter(project => {
    return project.frontmatter.title === activeProject;
})[0].frontmatter.yearNotation;

// Sort the events array by year
if (events){
    events.sort((a, b) => a.year - b.year);
} else {
    events = [];
}


---

<div class="viewport">
    <ul>
        {events.map((event) => {
            if (event.description){
                return  <li>
                            <p class="date">{event.year} {yearNotation}</p>   
                            <div>
                                <p class="title">{event.title}</p>
                                <p class="description">{event.description}</p>                            
                            </div>
                        </li>
            } else {
                return  <li>
                            <p class="date">{event.year} {yearNotation}</p>   
                            <div>
                                <p class="title">{event.title}</p>                        
                            </div>
                        </li>
            }
           
        })}
        <li>
            <div>
                <p class="title">Title of the Event</p>
                <p class="description">This is exactly 120 characters: Sed adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum posuereou.</p>
            </div>
            <p class="date">200 FC</p>
        </li>
        <li>
            <div>
                <p class="title">Title of the Event</p>
                <p class="description">This is exactly 120 characters: Sed adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum posuereou.</p>
            </div>
            <p class="date">300 FC</p>
        </li>
        
    </ul>
</div>
