---

import "../styles/timeline.css"

import { getCatIconAndLabel } from "../scripts/helpers.js";

let { events } = Astro.props;

// Generate a full date for each event
events.map((event) => {

    if (!event.date.full){

        let padWithLeadingZeros = function(num, totalLength) {
            return String(num).padStart(totalLength, '0');
        }

        event.date.full = '';
        event.date.full = event.date.year !== undefined ? event.date.full += `${event.date.year}` : event.date.full;
        event.date.full = event.date.year !== undefined && event.date.month ? event.date.full += `-${padWithLeadingZeros(event.date.month, 2)}` : event.date.full;
        event.date.full = event.date.year !== undefined && event.date.month && event.date.day ? event.date.full += `-${padWithLeadingZeros(event.date.day, 2)}` : event.date.full;
        event.date.full = event.date.year !== undefined && event.date.yearNotation ? event.date.full += ` ${event.date.yearNotation}` : event.date.full;
    }

    if (!event.date.numerical){
        if (event.date.year !== -Infinity) {
            event.date.numerical = event.date.year !== undefined ? event.date.year * 100 : 0;
            event.date.numerical += event.date.month !== undefined ? event.date.month * 10 : 0;
            event.date.numerical += event.date.day !== undefined ? event.date.day : 0;
        } else {
            event.date.numerical = -Infinity;
        }

    }

});

// Sort the events array by date
events.sort((a, b) => a.date.numerical - b.date.numerical);


---

<div class="viewport">
    <ul class="list">
        {events.map((event) => {

            // Get the category icon and singular label
            let icon = getCatIconAndLabel(event.postCategory).icon;
            let label = getCatIconAndLabel(event.postCategory).label;

                return  (
                    <li data-category={event.postCategory} data-date={event.date.numerical}>
                        <div class="label-group">
                            <p class="date">{event.date.full}</p>
                            <div class="age-group">
                                <p>Bopha is 20 years old</p>    
                            </div> 
                        </div>
                        <div class="content-group">
                            <p class="category"><Fragment set:html={icon} />{event.postCategory === 'Events' ? label : event.postTitle}</p>
                            <p class="title">{event.title}</p>
                            { event.description && (
                                <p class="description">{event.description}</p>   
                            )}                            
                        </div>
                    </li>
                )

        })}
        
    </ul>
</div>
