---
import IconBookmarks from "./IconBookmarks.astro";
import IconArrow from "./IconArrow.astro";

import { toTitleCase } from "../scripts/helpers.js";

const { order } = Astro.props;
const { category } = Astro.props;
const { CategoryIcon } = Astro.props;
const { posts } = Astro.props;
const { activePost } = Astro.props;

let hidden = {
    hidden: ''
};

if (activePost.split('/')[2] === category) {
    delete hidden.hidden;
}

---

<li>
    <div class="accordion-toggle-group">
        <a class="icon-group" href={`../pages/${category}`}>
            <CategoryIcon />
            <span>{toTitleCase(category)}</span>
        </a>
        <button class="accordion-toggle" id={`tree-toggle${order}`} type="button" aria-expanded={hidden.hidden === '' ? 'false' : 'true'} aria-controls={`tree-panel${order}`}>
            <span>show</span>
            <IconArrow />
        </button>
    </div>
    <ul class="tree-panel accordion-panel" id={`tree-panel${order}`} role="region" aria-labelledby={`tree-toggle${order}`} {...hidden} >
        {posts.map((post) => 
            <li class={post.url === activePost ? `is-active` : ''}>
                <a href={post.url}>{post.frontmatter.title}</a>
                <button class="bookmark-toggle"><IconBookmarks /></button>
            </li>
        )}
    </ul>
</li>