---
import BaseLayout from "./BaseLayout.astro";
import IconBookmarks from "../components/IconBookmarks.astro";
import Timeline from "../components/Timeline.astro";

import { getCatIconAndLabel } from "../scripts/helpers.js"
import { dateFormatter } from "../scripts/helpers.js"

import "../styles/project.css";

const { frontmatter } = Astro.props;

// Determine active project
const activeProject = frontmatter.title;

// Get project posts
const posts = await Astro.glob('../pages/*/*/*.md');
const projectPosts = posts.filter(post => {
    return post.url.includes(activeProject.toLowerCase());
}).sort((a,b) => {
    if (a.frontmatter.title < b.frontmatter.title) return -1;
    if (a.frontmatter.title > b.frontmatter.title) return 0;
    return 0;
});

// TODO - Only show the first 10 list items and add a show more button

---

<BaseLayout pageTitle={activeProject} activeProject={activeProject}>
    <main class="project">
        <h1>{activeProject} Articles</h1>
        <section class="articles">

        {
            projectPosts.length > 0 ? (
            
                <form id="filters">
                    <input type="radio" id="filterAll" name="filter" value="all" checked/>
                    <label for="filterAll">All</label>
                    <input type="radio" id="filterBookmarks" name="filter" value="bookmarks" />
                    <label for="filterBookmarks">Bookmarks</label>
                    <input type="radio" id="filterPeople" name="filter" value="people" />
                    <label for="filterPeople">People</label>
                    <input type="radio" id="filterGroups" name="filter" value="groups" />
                    <label for="filterGroups">Groups</label>
                    <input type="radio" id="filterPlaces" name="filter" value="places" />
                    <label for="filterPlaces">Places</label>
                    <input type="radio" id="filterEvents" name="filter" value="events" />
                    <label for="filterEvents">Events</label>
                    <input type="radio" id="filterThings" name="filter" value="things" />
                    <label for="filterThings">Things</label>
                </form>
                <form id="sort">
                    <label>Sort by</label>
                    <div class="select-group">
                        <select name="sort" id="sort-select">
                            <option value="byTitle" selected>Title</option>
                            <option value="byDate">Date Published</option>
                        </select>
                    </div>
                </form>
                <ul id="list">
                    {projectPosts.map((post) => {
                        return  <li data-title={post.frontmatter.title} data-date={post.frontmatter.date} data-category={post.frontmatter.category}>
                                    <a href={post.url}>
                                        <span class="icon-group" set:html={getCatIconAndLabel(post.frontmatter.category).icon}></span>
                                        <span class="title">{post.frontmatter.title}</span>
                                        <span class="date">{dateFormatter.format(Date.parse(post.frontmatter.date))}</span>    
                                    </a>
                                    <button class="bookmark-toggle" data-title={post.frontmatter.title} data-url={post.url} data-project={post.frontmatter.project}><IconBookmarks /></button>
                                </li>
                    })}
                </ul>

            ) : (
            
                <p>There are no articles in this project.</p>

            )
        }

        </section>
        
        
    </main>
</BaseLayout>

<script src="/scripts/filter.js" is:inline></script>
<script src="/scripts/bookmarks.js" is:inline defer></script>