---
import BaseLayout from "./BaseLayout.astro";
import SidePanel from "../components/SidePanel.astro";

import IconBookmarks from "../components/IconBookmarks.astro";
import IconChange from "../components/IconChange.astro";
import IconProjects from "../components/IconProjects.astro";

import { toTitleCase } from "../scripts/helpers";

import "../styles/project.css";

const { frontmatter } = Astro.props;

// Determine active project
const activeProject = frontmatter.title;

// Get project posts
const posts = await Astro.glob('../pages/*/*/*.md');
const projectPosts = posts.filter(post => {
    return post.url.includes(activeProject.toLowerCase());
})
const peoplePosts = posts.filter(post => {
    return post.url.includes(`${activeProject.toLowerCase()}/people`);
})
const groupsPosts = posts.filter(post => {
    return post.url.includes(`${activeProject.toLowerCase()}/groups`);
})
const placesPosts = posts.filter(post => {
    return post.url.includes(`${activeProject.toLowerCase()}/places`);
})
const eventsPosts = posts.filter(post => {
    return post.url.includes(`${activeProject.toLowerCase()}/events`);
})
const thingsPosts = posts.filter(post => {
    return post.url.includes(`${activeProject.toLowerCase()}/things`);
})

// Generate list of projects
const projectPages = await Astro.glob('../pages/*/*.astro');
const projects = [];
for (const page of projectPages){
    let project = {
        url: page.url,
        title: page.url.split('/')[1]
    }
    if (project.title !== activeProject){
        projects.push(project);
    }
}


---

<BaseLayout pageTitle={activeProject} activeProject={activeProject}>
    <main class="project">
        <div class="projects accordion">
            <div class="accordion-toggle-group">
                <h1 class="icon-group"><IconProjects /><span>{toTitleCase(activeProject)}</span></h1>
                <button class="accordion-toggle" id="projects-toggle1" type="button" aria-expanded="false" aria-controls="projects-panel1">
                    <span>change</span>
                    <IconChange />
                </button>
            </div>
            <ul class="projects-panel accordion-panel" id="projects-panel1" role="region" aria-labelledby="projects-toggle1" hidden>
                {projects.map((project) =>
                    <li><a href={project.url}>{toTitleCase(project.title)}</a></li>
                )}
            </ul>
        </div>
        <ul data-tabs>
            <li><a href="#all">All Articles</a></li>
            <li><a href="#people">People</a></li>
            <li><a href="#groups">Groups</a></li>
            <li><a href="#places">Places</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#things">Things</a></li>
            <li class="border-fill"></li>
        </ul>
        <section id="all">
            <ul>
            {projectPosts.map((post) => 
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                    <button class="bookmark-toggle"><IconBookmarks /></button>
                </li>
            )}
            </ul>
        </section>
        <section id="people">
            <ul>
            {peoplePosts.map((post) => 
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                    <button class="bookmark-toggle"><IconBookmarks /></button>
                </li>
            )}
            </ul>
        </section>
        <section id="groups">
            <ul>
            {groupsPosts.map((post) => 
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                    <button class="bookmark-toggle"><IconBookmarks /></button>
                </li>
            )}
            </ul>
        </section>
        <section id="places">
            <ul>
            {placesPosts.map((post) => 
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                    <button class="bookmark-toggle"><IconBookmarks /></button>
                </li>
            )}
            </ul>
        </section>
        <section id="events">
            <ul>
            {eventsPosts.map((post) => 
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                    <button class="bookmark-toggle"><IconBookmarks /></button>
                </li>
            )}
            </ul>
        </section>
        <section id="things">
            <ul>
            {thingsPosts.map((post) => 
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                    <button class="bookmark-toggle"><IconBookmarks /></button>
                </li>
            )}
            </ul>
        </section>
    </main>
</BaseLayout>

<script src="../scripts/tab.js"></script>