---

import BaseLayout from "./BaseLayout.astro";
import Timeline from "../components/Timeline.astro";
import IconCloseCircle from "../components/IconCloseCircle.astro";
import IconClose from "../components/IconClose.astro";
import { getCatIconAndLabel } from "../scripts/helpers.js"

const { activeProject } = Astro.props;
const { projectPosts } = Astro.props;
const { events } = Astro.props;

let activeCategories = [...new Set(events.map(a => a.postCategory))];

let postsWithLifespan = projectPosts.filter((post) => {
    return post.frontmatter.lifespan !== undefined 
        && (

            (post.frontmatter.lifespan.startDate !== undefined 
            && (post.frontmatter.lifespan.startDate.year !== undefined
                || post.frontmatter.lifespan.startDate.month !== undefined
                || post.frontmatter.lifespan.startDate.day !== undefined
            ))

        || 

            (post.frontmatter.lifespan.endDate !== undefined
            && (post.frontmatter.lifespan.endDate.year !== undefined
                || post.frontmatter.lifespan.endDate.month !== undefined
                || post.frontmatter.lifespan.endDate.day !== undefined
            ))

        );
})

console.log(postsWithLifespan);



---

<BaseLayout pageTitle={activeProject} activeProject={activeProject}>
    <main>
        <h1>{activeProject} Timeline</h1>
        <section class="timeline">

            {events.length > 0 ? (

                <form 
                data-filter-group 
                data-filter-list-selector="section.timeline ul.list" 
                data-filter-items-selector="li.event" 
                data-filter-sort-selector="section.timeline [data-sort-trigger]" 
                data-filter-min="1">
                    {activeCategories.map((category) => {
                        return (
                            <label class="btn-m">
                                <span>{category}</span>
                                <input type="checkbox" name="filter" value={category.toString().toLowerCase()} 
                                data-filter-trigger
                                data-filter-type="category" checked/>
                                <IconClose classes={'icon-controls'}/>
                            </label>
                        )
                    })}
                </form>

                <form 
                data-sort-group
                data-sort-list-selector="section.timeline ul.list" 
                data-sort-items-selector="li.event">
                    <label>
                        <span>Sort by</span>
                        <div class="select-group">
                            <select name="sort" id="sort-select"
                            data-sort-trigger>
                                <option value='{ "list": { "id": "byDateNumAsc" } }' selected>Date Ascending</option>
                                <option value='{ "list": { "id": "byDateNumDesc" } }'>Date Descending</option>
                            </select>
                        </div>
                    </label>
                </form>

                <div id="search-timeline-compare" class="accordion">
                    <p>Show lifespan</p>
                    <form class="search-form"
                    data-search-group
                    data-search-list-selector="#search-timeline-compare .search-results [data-list-bin]" 
                    data-search-items-selector="li.result"
                    data-search-sort-type='{ "list": { "id": "byPriority" } }'>
                        <input class="search-input" class="text-field" type="search"  minlength="3" placeholder={"Filter articles"} autocomplete="off" 
                        data-search-trigger 
                        data-search-type="title"/>
                        <button class="search-submit" class="submit" type="button" 
                        data-search-trigger>
                            <svg class="search-submit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <circle cx="9.5" cy="9.5" r="7.5"/>
                                <line x1="14.8" y1="14.8" x2="22" y2="22"/>
                            </svg>
                        </button>
                    </form>
                    <form class="search-results" 
                    data-list 
                    data-filter-group
                    data-filter-list-selector="section.timeline ul.list" 
                    data-filter-items-selector="li.compare"
                    data-filter-max="3" 
                    data-sort-group 
                    data-sort-list-selector="#search-timeline-compare .search-results [data-list-bin]" 
                    data-sort-items-selector="li.result" 
                    data-sort-type='{ "list": { "id": "byName" } }'>
                        <p class="label">Search Results</p>
                        <ul data-list-bin>
                            {postsWithLifespan.map((post, index) => {
                                return (
                                    <li class="result" 
                                    data-item 
                                    data-title={post.frontmatter.title.toLowerCase()} 
                                    hidden={index < 5 ? null : ''}>
                                        <label class="btn-s">
                                            <span class="icon-group" set:html={getCatIconAndLabel(post.frontmatter.category).icon}></span>
                                            <span class="title">{post.frontmatter.title}</span>
                                            <IconClose classes={'icon-controls'}/> 
                                            <input type="checkbox" name="compare" value={post.frontmatter.title.toLowerCase()} 
                                            data-filter-trigger 
                                            data-filter-type="title"
                                            data-sort-trigger></input>
                                        </label>
                                    </li>
                                )
                            })}
                            <li class="error" hidden>
                                <p>No matches were found.</p>
                            </li>
                            <li>
                                <button class="btn-s">Show More</button>     
                            </li>
                        </ul>
                    </form>
                </div>
                
                <Timeline activeProject={activeProject} events={events} postsWithLifespan={postsWithLifespan} />

            ) : (

                <p>There are no events in this project.</p>

            )} 

        </section>
    </main>
</BaseLayout>